@mixin elHr(){
	border-top: $elHr;
}

@mixin transparente(){
	background-color: $transp;
   	border-color: $transp;
}

@mixin titHcuatro(){
	font-size: 20px;
}

@mixin cita($color){
	@if $color == $gris{
		font-family: 'Inconsolata', monospace;
	}
	@else if $color == $blue{
		font-family: 'Open Sans', sans-serif;
	}
	@else{
		color: purple;
	}
}